<%- include('../layouts/adminheader') %>

<h2 class="page-title"> Products</h2>
<a href="/admin/products/add-product" class="btn btn-primary"> Add a new Product</a>
<br/><br/>

<% if(count){ %>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Category</th>
            <th>Product Image</th>
            <th> Edit </th>
            <th> Delete </th>
        </tr>
    </thead>
    <tbody>
        <% products.forEach(function(product){ %>
            <tr>
                <td><%= product.title %></td>
                <td><%= parseFloat(product.price).toFixed(2) %></td>
                <td><%= product.category %></td>
                <td>
                    <% if(product.image) { %>
                        <img id="productImage" src="/images/product_images/<%=product.id %>/<%= product.image %>">                         
                    <% }else{ %>
                        <img id="productImage" src="/images/no-image.png"> 
                    <% } %>
                </td>
                <td><a href="/admin/products/edit-product/<%= product._id %>"> Edit</a></td>
                <td><a class="confirmDeletion" href="/admin/products/delete-product/<%= product._id %>"> Delete</a></td>
            </tr>
        <% }); %>
    </tbody>
</table>
<% } else{ %>
    <p class="text-center"> No Products available</p>
<% } %>

<%- include('../layouts/adminfooter') %>

