<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Front</title>
      <link rel="stylesheet" href="/css/style.css" />
      <script type="text/javascript" src="/js/validator.min.js"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"></script>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Shopping Cart</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <% pages.forEach(function(page){ %>
        <% if(page.slug == 'home'){ %>
        <li class="nav-item"><a class="nav-link" href="/"><%= page.title %></a></li>      
        <%} else{ %>
        <li class="nav-item"><a class="nav-link" href="<%= page.slug %>"><%= page.title %></a></li>      
      <%}%>
      <% }) %>
    </ul>
    <ul class="navbar-nav navbar-right">
        <li class="nav-item"><a class="nav-link" href="/cart/checkout">My Cart (<%= (typeof(cart) !== 'undefined' &&  cart.length) ? cart.length : 0  %>)</a></li>      
    </ul>


    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<main role="main" class="container">
  <%- messages('messages', locals) %>

<div class="row">
  <div class="col-xs-12 col-md-3">
    <h3>Categories</h3>
    <ul class="list-group">
      <li class="list-group-item">
        <a href="/products"> All Products</a>
        <% categories.forEach(function(category){ %>
          <li class="list-group-item"><a class="nav-link" href="/products/<%= category.slug %>"><%= category.title %></a></li>
        <% }) %>

      </li>
    </ul>
  </div>
  <div class="col-xs-12 col-md-1"></div>
  <div class="col-xs-12 col-md-8">

  
