<% include layouts/header %>
<% if(cart && cart.length){%>
    <h1 class="page-title"> My Cart</h1>
    <table class="table table-striped alignmiddle">
        <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Price</th>
            <th>Quantity</th>
            <th></th>
            <th>Subtotal</th>
        </tr>

        <% let total=0 %>
        <% cart.forEach(function(product){  %>
            <% let sub=parseFloat(product.qty * product.price).toFixed(2) %>
            <% total =  parseFloat(total)+parseFloat(sub) %>
            <tr>
                <td><img class="productImg" src="<%= product.image %>" ></td>
                <td><%= product.title %></td>
                <td><%= product.price %></td>
                <td><%= product.qty %></td>
                <td>
                    <a href="/cart/update/<%= product.title %>?action=add">+</a>&nbsp;
                    <a href="/cart/update/<%= product.title %>?action=remove">-</a>&nbsp;
                    <a href="/cart/update/<%= product.title %>?action=clear">clear</a>&nbsp;
                </td>
                <td><%= sub %></td>
            </tr>
        <% })  %>
        <tr>
            <td colspan="6" align="right"> <b>Total: </b> <%= parseFloat(total).toFixed(2)%></td>
        </tr>
        <tr>
            <td colspan="5" align="right">
                <a class="clearCart btn btn-danger" href="/cart/clear"> Clear cart</a>
            </td>
            <td colspan="5" align="right">
                <a class="btn btn-primary buynow" href="#"> Buy Now</a>
            </td>
        </tr>

    </table>

    <input type="hidden" name="cmd" value="_ext-enter">
    <form class="paypal" action="https://www.sandbox.paypal.com/us/cgi-bin/webscr" method="post">
        <input type="hidden" name="cmd" value="_cart">
        <input name='upload' type='hidden' value='1' />
        <input type="hidden" name="business" value="shifali.gupta83@gmail.com">

        <% cart.forEach(function(prod, i){%>
            <input type="hidden" name="item_name_<%=i+1%>" value="<%= prod.title %>">
            <input type="hidden" name="amount_<%=i+1%>" value="<%= prod.price %>">
            <input type="hidden" name="quantity_<%=i+1%>" value="<%= prod.qty %>">
        <% })%>
        <input type="hidden" name="currency_code" value="INR">
        <input type="hidden" name="amount" value="<%= total %>">
        <input type="image" src="http://www.paypal.com/en_US/i/btn/x-click-but01.gif" name="submit"
            alt="Make payments with PayPal - it's fast, free and secure!">
    </form>
<% } else{ %>
    <h3> Your cart is empty</h3>
<% } %>
<% include layouts/footer %>