<% include layouts/header %>

<div class="row products">
    <% products.forEach(function(product){ %>
        <div class="col-xs-12 col-md-4">
            <a class="productAnchor" href="/products/<%= product.category%>/<%= product.slug%>">
                <img class="productImage" src="/images/product_images/<%= product.id%>/<%= product.image%>" alt="">
            </a>
        <h3><%= product.title%></h3>
        <h4><%= product.price%></h4>
        <a class="viewProductdetails" href="/products/<%= product.category%>/<%=product.slug%>">View Details</a>
        </div>
    <%  }) %>


</div>

<% include layouts/footer %>